@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240;
  --background-start-rgb: 3, 7, 18;
  --background-end-rgb: 11, 15, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at 50% 0%, #0d1527 0%, #030712 100%);
  min-height: 100vh;
}
